theme "catppuccin-mocha"
default_shell "nu"
pane_frames false
show_startup_tips false
default_layout "compact"
ui {
	pane_frames {
		session_serialization false
        hide_session_name true
        rounded_corners true
	}
}
